.aboutUS{
    background-color: var(--breadcrumb-color);
    text-align: center;
    padding: 80px 0px;
}
.head{
    font-size: 60px;
    font-weight: 600;
    
    color: white;
}
.relatedPage{
    font-size: 17px;
    font-weight: 600;
    color: white;
    margin-top: 20px;
}
.link{
    font-size: 17px;
    font-weight: 600;
    color: white;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s;
    transition-timing-function: ease-in;
}
.link:hover{
    color: skyblue;
}
.content{
    display: flex;
    justify-content: center;
    column-gap: 10px;
}