.userDetail{
    width: 50%;
    background-color: white;
}
.content{
    background: linear-gradient(270deg, #47e69b, #0b8c62);
    padding: 14px 20px;
    color: white;
 
 }
 .personalDetail{
    background-color: white;
 }
 .detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgb(219, 214, 214);
    & p{
        padding:  17px 20px;
    }
 }
 .key{
    color: rgb(48, 47, 47);
    font-weight: 600;
 }
 .value{
    color: rgb(82, 79, 79);
    
 }